.container {
  margin: 5rem 5rem;
}

.container main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}

.blog{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blogItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blogItem> h4{
  cursor: pointer;
}